<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="/javascript/raphael-min.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
	#canvas_container {
		top:0px;
		left:0px;
		position:absolute;
		cursor:pointer;
	}
	.feedback_enabled {
		background-color:#8ba8ea;
		font-weight:bold;
	}
	
	.feedback_disabled {
		background-color:#eceff3;
		font-weight:bold;
	}
	
.feedback_tab_left {
	color:#213b89;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	padding-right:20px;
	cursor:pointer;
	float:left;
	border-top-left-radius:10px;
	font-size:11px;
	border-right:2px solid white;
	width:90px;
	text-align:center;
}
.feedback_tab {
	color:#213b89;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	padding-right:20px;
	cursor:pointer;
	float:left;
	font-size:11px;
	border-right:2px solid white;
	width:90px;
	text-align:center;
}

.feedback_tab_right {
	color:#213b89;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:20px;
	padding-right:20px;
	cursor:pointer;
	float:left;
	border-top-right-radius:10px;
	font-size:11px;
	width:90px;
	text-align:center;
}

	.ReviewerFeedback {
	}
	
	.ReviewerFeedback .Person {
	}
	
	.ReviewerFeedback .Person .Name {
		background-color: #FAFAFA;
		border:1px solid #CCC;
		padding:13px;
		color:#232323;
		font-size:15px;
		position:relative;
		height:36;
	}
	
	.ReviewerFeedback .Person .Name .FeedbackCount{
		position:absolute;
		right:15px;
		top:15px;
		background-color:rgb(116, 139, 211);
		color:white;
		font-size:13px;
		min-width:20px;
		border-radius:4px;
		text-align:center;
	}

	.ReviewerFeedback .Person .Item {
		background-color: #EEF0F7;
		padding:13px;
		padding-top:9px;
		padding-bottom:9px;
		color:#232323;
		margin-bottom:1px;
		width:85%;
		font-size:11px;
		min-height:34px;
		float:right;
		cursor:pointer;
	}
	
	.ReviewerFeedback .Person .Item .Active {
		background-color: #E1E7F7;
	}
	
	.clear {
		clear:both;
	}
	
	.NoteBubble{
		background-color:rgb(116, 139, 211);
		color:white;
		border-radius:10px;
		padding:13px;
		font-size:12px;
		position:absolute;
	}
	
	.NoteCreateBubble{
		background-color:silver;
		border:1px solid gray;
		border-radius:10px;
		padding:3px;
		font-size:12px;
		position:absolute;
	}
	
	.AnnotationNote {
		bottom:15px;
		position:fixed;
		background-color:black;
		color:white;
		opacity:0.8;
		padding:12px;
		border-radius:12px;
		width:400px;
		text-align:center;
	}
	
</style>
<div id="fb-root"></div>

<center>
	<div id="main_body_column">
		<div id="header_bar">
			<img src="/images/TitleBarIcon.png" align="middle" style="margin-top: -14px;"> Resume Feedback & Endorsements
		</div>
		<div style="padding:25px;">
			<div id="step1Label" style="float:left;width:33%;text-align:center;font-weight:bold;cursor:pointer;" onclick="moveToStep1()">
				<img src="/images/StepDotActive.png" align="middle" style="margin-top: -10px;" id="step1Image"> Step 1
			</div>
			<div id="step2Label" style="float:left;width:33%;text-align:center;cursor:pointer;" onclick="moveToStep2()">
				<img src="/images/StepDotInactive.png" align="middle" style="margin-top: -10px;" id="step2Image"> Step 2
			</div>
			<div id="step3Label" style="float:left;width:33%;text-align:center;cursor:pointer;" onclick="moveToStep3()">
				<img src="/images/StepDotInactive.png" align="middle" style="margin-top: -10px;" id="step3Image"> Step 3
			</div>
			<div style="clear:both;"></div>
		</div>


		<div style="float:left;width:340px;border-left:7px solid #506bb1;margin-left:-2px;position:relative;">
			<img src="/images/SectionBarTopCap.gif" style="position:absolute;top:0px;left:-6px;">
			<img src="/images/SectionBarBottomCap.gif" style="position:absolute;bottom:0px;left:-6px;">
					
			<div id="step_1_action_panel" style="margin-left:10px;">
				<div class="step_header">Hide Personal Information</div>
				<div class="step_description">Take a moment to hide any information you don't want your reviewers to see  by highlighting the content on your resume.</div>
				<div style="margin-bottom:30px;">
					<div id="warningsLabel" class="hide_suggestions_title">Suggested Items to Hide</div>
					<div id="warnings" style="display:none;"><div style="clear:both;"></div></div>
				</div>
				<div onclick="saveSafeHTML();moveToStep2();" class="next_button">
					<b>Done Hiding  &gt;</b>
				</div>
			</div>
			
			<div id="step_2_action_panel" style="display:none;margin-left:10px;">
				<div class="step_header">Invite Friends to Review</div>
				<div class="step_description">Add friends, family or colleagues to help review your resume.  You can also ask them to endorse you or suggest skill for your profile to help employers find you.</div>
				
				<div>
					<center>
						<div onclick="sendFBInvitation();">
							<img src="/images/CollaboratorsFacebook.png">
						</div>
					</center>
				</div>
				<div>
					<center>
						<!-- Place this tag where you want the share button to render. -->
						<div class="g-plus" data-action="share" data-annotation="none" data-height="24"></div>
						<img src="/images/CollaboratorsGooglePlus.png">
						
						<!-- Place this tag after the last share tag. -->
						<script type="text/javascript">
							(function() {
								var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
								po.src = 'https://apis.google.com/js/plusone.js';
								var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
							})();
						</script>

					</center>
				</div>
				<div>
					<center>
						<a onclick="linkedInComposer();" style="cursor:pointer">
							<img src="/images/CollaboratorsLinkedIn.png">
						</a>

						<br>
						<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
						<script type="IN/Share"></script>
					</center>
				</div>
				<div style="width:100%;color:#506bb1;text-align:center;">
					or
				</div>
				<div>
					<center>
						<a onclick="gmailComposer();" style="cursor:pointer"><img src="/images/CollaboratorsGmail.png"></a>
					</center>
				</div>
				<div>
					<center>
					<div style="width:281px;text-align:left;">
						<a href="mailto:?to=&subject=Help%20Adam%20review%20his%20resume%20and%20get%20it%20ready%20for%20the%20his%20job%20hunt.&body=http://resumecritique.herokuapp.com/resume/critique?for=SOMELONGUNIQUEIDENTIFIERHERE" style="cursor:pointer;color:#506bb1;text-decoration:none;">+ Add Email Address</a>
					</div>
					</center>
				</div>
				<div style="padding-bottom:30px;">
					<h2>Ideal Collaborators</h2>
						<div id="FBProfilesIdeal"></div>
					<h2>Collaborators</h2>		
						<div id="FBProfiles"></div>
						<div id="SocialUIData" data-controller="member" data-action="profiles" data-params='{"onets":["11-9199.00","41-3099.00","41-3031.02"]}' data-callback='showConnectionsIdeal'></div>
						<div id="SocialUIData" data-controller="member" data-action="profiles" data-params='{"keywords":"adam"}' data-callback='showConnections'></div>		
				</div>
				
				<div onclick="moveToStep3()" class="next_button">
					<b>Done Inviting  &gt;</b>
				</div>
			</div>
			
			<div id="step_3_action_panel" style="display:none;margin-left:10px;">
				<div class="step_header">Review Your Feedback</div>
				<div class="step_description">Below you will find the comments and keyword suggestions left by your collaborators.  Just simply scroll over any reviewer to view all of their suggestions.</div>
				
				<% if @feedback.count > 0 %>
				<div class="ReviewerFeedback">
					<% @feedback.each do |feedback| %>
					<div class="Person" id="1">
						<div class="Name">
							<%= feedback[1].first.name%>
							<div class="FeedbackCount"><%= feedback[1].count%></div>
						</div>
						<% feedback[1].each do |f| %>
						<div class="Item Active" id="<%=f.id%>" data-person_id="<%=f.bid%>" data-feedback_type="<%=f.feedback_type%>" onclick="showFeedback(this);" data-payload='<%=f.json_data%>'>
							<div style="float:left;"><img src="/images/<%=(f.feedback_type == 'note')? "note" : "draw"%>BubbleWhite.png"></div>
							<div style="float:left;padding-left:10px;width:80%;"><%=f.note%></div>
							<div style="clear:both;"></div>
						</div>
						<div class="clear"></div>
						<% end %>
					</div>
					<% end %>
				</div>
				<% else %>
				<div class="ReviewerFeedback">
					<div class="Person" id="1">
						<div class="Name">
							Laurie Gellatta
							<div class="FeedbackCount">3</div>
						</div>
						<div class="Item Active" id="123" data-person_id="3" data-feedback_type="note" onclick="showFeedback(this);" data-payload='{"note":"Consider reworking this sentance. It sounds weird.  Maybe combine it with the bullets bellow.","position":{"x":100,"y":150}}'>
							<div style="float:left;"><img src="/images/NoteBubbleWhite.png"></div>
							<div style="float:left;padding-left:10px;width:80%;">Consider reworking this sentance. It sounds weird.  Maybe combine it with the bullets bellow.</div>
							<div style="clear:both;"></div>
						</div>
						<div class="clear"></div>
						<div class="Item" id="124" data-person_id="3" data-feedback_type="note" onclick="showFeedback(this);" data-payload='{"note":"Not sure about this format.","position":{"x":300,"y":100}}'>
							<div style="float:left;"><img src="/images/NoteBubbleWhite.png"></div>
							<div style="float:left;padding-left:10px;width:80%;">Not sure about this format.</div>
							<div style="clear:both;"></div>
						</div>
						<div class="clear"></div>
						<div class="Item" id="125" data-person_id="3" data-feedback_type="annotation" onclick="showFeedback(this);" data-payload='{"note":"Strong point.  Maybe move higher in the list.","paths":[{"line_color":"#FF0000","start_point":{"x":10.0,"y":10.0},"path_elements":[{"x":10.0,"y":10.0},{"x":10.0,"y":10.0},{"x":10.0,"y":10.0}]},{"line_color":"#00FF00","start_point":{"x":25.0,"y":30.0},
						"path_elements":[
						{"x":10.0,"y":10.0},{"x":1.0,"y":15.0},{"x":15.0,"y":15.0}]},
						{"line_color":"#0000FF","start_point":{"x":125.0,"y":230.0},"path_elements":[{"x":-10.0,"y":-10.0},{"x":-1.0,"y":-15.0},{"x":-150.0,"y":15.0}]},
						{"line_color":"#FF00FF","start_point":{"x":90,"y":120},"path_elements":[{"x":-1,"y":1},{"x":0,"y":7},{"x":-6,"y":13},{"x":-3,"y":15},{"x":-3,"y":10},{"x":-4,"y":27},{"x":0,"y":21},{"x":0,"y":10},{"x":4,"y":25},{"x":9,"y":13},{"x":12,"y":8},{"x":13,"y":4},{"x":18,"y":0},{"x":12,"y":-9},{"x":9,"y":-14},{"x":7,"y":-50},{"x":-2,"y":-14},{"x":-8,"y":-9},{"x":-13,"y":-7},{"x":-11,"y":-6},{"x":-17,"y":-8},{"x":-8,"y":-1},{"x":-14,"y":0},{"x":-8,"y":-2}]}
						]}'>
							<div style="float:left;"><img src="/images/DrawBubbleWhite.png"></div>
							<div style="float:left;padding-left:10px;width:80%;">Strong point.  Maybe move higher in the list.</div>
							<div style="clear:both;"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="Person" id="2">
						<div class="Name">
							Jim Kelly
							<div class="FeedbackCount">1</div>
						</div>
						<div class="Item" id="234" data-person_id="3" data-feedback_type="annotation" onclick="showFeedback(this);" data-payload='{"note":"You should move this section up here.","paths":[{"line_color":"#FF0000","start_point":{"x":38.0909423828125,"y":499.4545440673828},"path_elements":[{"x":0,"y":0},{"x":5,"y":-1},{"x":13,"y":0},{"x":12,"y":0},{"x":13,"y":0},{"x":12,"y":0},{"x":14,"y":0},{"x":14,"y":0},{"x":24,"y":0},{"x":17,"y":0},{"x":12,"y":0},{"x":14,"y":2},{"x":20,"y":2},{"x":14,"y":3},{"x":8,"y":1},{"x":17,"y":4},{"x":21,"y":6},{"x":18,"y":7},{"x":25,"y":12},{"x":9,"y":6},{"x":8,"y":4},{"x":8,"y":9},{"x":1,"y":4},{"x":2,"y":9},{"x":0,"y":8},{"x":0,"y":7},{"x":0,"y":7},{"x":0,"y":6},{"x":-2,"y":6},{"x":-4,"y":3},{"x":-4,"y":3},{"x":-3,"y":3},{"x":-5,"y":2},{"x":-7,"y":4},{"x":-12,"y":3},{"x":-21,"y":0},{"x":-20,"y":0},{"x":-32,"y":0},{"x":-13,"y":0},{"x":-22,"y":0},{"x":-28,"y":-2},{"x":-11,"y":-2},{"x":-10,"y":-2},{"x":-9,"y":-1},{"x":-9,"y":-1},{"x":-8,"y":-1},{"x":-10,"y":-1},{"x":-9,"y":0},{"x":-9,"y":0},{"x":-8,"y":0},{"x":-9,"y":0},{"x":-6,"y":0},{"x":-6,"y":0},{"x":-6,"y":0},{"x":-6,"y":-3},{"x":-4,"y":-4},{"x":-3,"y":-6},{"x":-4,"y":-8},{"x":-1,"y":-10},{"x":-2,"y":-10},{"x":-1,"y":-8},{"x":-1,"y":-8},{"x":0,"y":-4},{"x":-1,"y":-5},{"x":0,"y":-3},{"x":0,"y":-4},{"x":0,"y":-6},{"x":1,"y":-4},{"x":2,"y":-5},{"x":1,"y":-4},{"x":2,"y":-4},{"x":0,"y":-4},{"x":1,"y":-3},{"x":3,"y":-5},{"x":2,"y":-4},{"x":1,"y":-3},{"x":1,"y":0}]},{"line_color":"#FF0000","start_point":{"x":58.0909423828125,"y":502.4545440673828},"path_elements":[{"x":0,"y":0},{"x":-1,"y":-2},{"x":-3,"y":-6},{"x":-4,"y":-5},{"x":-4,"y":-7},{"x":-1,"y":-5},{"x":-2,"y":-4},{"x":-2,"y":-6},{"x":-1,"y":-2},{"x":0,"y":-6},{"x":0,"y":-11},{"x":0,"y":-5},{"x":0,"y":-2},{"x":1,"y":-3},{"x":3,"y":-3},{"x":2,"y":-3},{"x":3,"y":-3},{"x":2,"y":-3},{"x":4,"y":-2},{"x":4,"y":-2},{"x":4,"y":-1},{"x":3,"y":-2},{"x":3,"y":-1},{"x":5,"y":-2},{"x":3,"y":-1},{"x":2,"y":-2},{"x":3,"y":-1},{"x":3,"y":0},{"x":2,"y":-1},{"x":1,"y":0},{"x":0,"y":-2},{"x":1,"y":-1},{"x":3,"y":-1},{"x":1,"y":0},{"x":3,"y":-3},{"x":3,"y":-3},{"x":3,"y":-3},{"x":6,"y":-3},{"x":3,"y":-3},{"x":3,"y":-1},{"x":5,"y":-3},{"x":5,"y":-2},{"x":7,"y":-4},{"x":7,"y":-1},{"x":5,"y":-2},{"x":6,"y":-2},{"x":5,"y":-2},{"x":7,"y":-2},{"x":9,"y":-2},{"x":15,"y":-3},{"x":11,"y":-3},{"x":12,"y":-4},{"x":9,"y":-1},{"x":9,"y":-2},{"x":14,"y":-3},{"x":9,"y":-2},{"x":9,"y":-1},{"x":5,"y":0},{"x":6,"y":0},{"x":1,"y":-1},{"x":2,"y":0},{"x":1,"y":0},{"x":2,"y":0},{"x":1,"y":0}]},{"line_color":"#FF0000","start_point":{"x":259.0909423828125,"y":338.4545440673828},"path_elements":[{"x":0,"y":0},{"x":2,"y":2},{"x":4,"y":4},{"x":3,"y":4},{"x":4,"y":3},{"x":3,"y":3},{"x":1,"y":1},{"x":1,"y":1},{"x":1,"y":0},{"x":1,"y":1},{"x":0,"y":1},{"x":3,"y":2},{"x":0,"y":1},{"x":-3,"y":1},{"x":-7,"y":4},{"x":-8,"y":5},{"x":-5,"y":2},{"x":-3,"y":2},{"x":-2,"y":3},{"x":-2,"y":2},{"x":-1,"y":2}]}]}'>
							<div style="float:left;"><img src="/images/DrawBubbleWhite.png"></div>
							<div style="float:left;padding-left:10px;width:80%;">You should move this section up here.</div>
							<div style="clear:both;"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<% end %>

				
			</div>
			
		</div>
		
		
		<div style="width:70%;float:left; max-width:700px;">
			<div id="feedbackbar" style="float:right;padding-right:30px;display:none;">
				<div id="feedbacktype1" class="feedback_enabled feedback_tab_left" onclick="setFeedbackMode('1note');">Leave Note</div>
				<div id="feedbacktype2" class="feedback_disabled feedback_tab" onclick="setFeedbackMode('2annotate');">Draw</div>
				<div id="feedbacktype3" class="feedback_disabled feedback_tab" onclick="setFeedbackMode('3skills');">Suggest Skills</div>
				<div id="feedbacktype4" class="feedback_disabled feedback_tab_right" onclick="setFeedbackMode('4endorcement');">Endorse <%=@resume_doc.owner_name || "Adam"%></div>
				<div class="clear"></div>
			</div>
			<div style="clear:both;"></div>
			<div id="resumeHTML" style="max-width:650px;border:1px solid #CCC;margin:10px;padding:10px;margin-top:0px;">
				<% if @resume_doc %>
				<%=raw(@resume_doc.original_resume_html)%>
				<% else %>
				<div id="htmlresume">
						<div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt; text-align:center">
						<span style="font-family:'Times New Roman'; font-size:16pt; font-weight:bold">ADAM PARKER [DEMO]</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt; text-align:center"><span style="font-family:'Times New Roman'; font-size:12pt"> 5550 Peachtree Pkwy, Norcross, GA, 30092</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt; text-align:center"><span style="font-family:'Times New Roman'; font-size:12pt"><span id="gc-number-0" class="gc-cs-link" title="Call with Google Voice">123-456-7890</span>    adam.parker.test@careerbuilder.com</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:9pt">&nbsp;</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><br><br><span style="font-family:'Times New Roman'; font-size:12pt; font-weight:bold">CAREER OBJECTIVE</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">Seeking an entry-level position in the field of Computer Science</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:8pt">&nbsp;</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><br><br><span style="font-family:'Times New Roman'; font-size:12pt; font-weight:bold">SUMMARY OF QUALIFICATIONS  </span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Developed extensive proficiency in sales, customer service and training</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:8pt">&nbsp;</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><br><br><span style="font-family:'Times New Roman'; font-size:12pt; font-weight:bold">EDUCATION</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">The Georgia Institute of Technology</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 18pt"><span style="font-family:'Times New Roman'; font-size:11pt; font-weight:bold">Bachelor of Business Administration in Computer Science </span></p><p style="margin:0pt 0pt 0pt 18pt"><span style="font-family:'Times New Roman'; font-size:9pt; font-style:italic">&nbsp;</span></p><p style="margin:0pt 4.5pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:9pt; font-style:italic"></span><span style="font-family:'Times New Roman'; font-size:11pt">Expected Graduation: December 2004</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">Cumulative GPA: 3.39                            Major GPA: 3.88 </span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:8pt; color:#ff0000">&nbsp;</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt; text-decoration:underline">Relevant Coursework</span><span style="font-family:'Times New Roman'; font-size:11pt"></span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Organization Theory</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Management Science</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Managing Human Relations</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Principles of Marketing</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:8pt">&nbsp;</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">Immersion program (or Study Abroad) - Kyoto University of Foreign Studies, Japan</span></p><p style="margin:0pt 27.9pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">Summer 2012</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:8pt">&nbsp;</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt; font-weight:bold">Alamo Community College</span><span style="font-family:'Times New Roman'; font-size:11pt">, San Antonio, Texas</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">Associate Degree in Business, May 2009</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:12pt; font-weight:bold">&nbsp;</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><br><br><span style="font-family:'Times New Roman'; font-size:12pt; font-weight:bold">EXPERIENCE</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt; font-weight:bold">Management Trainee Intern - Enterprise Rent A Car</span><span style="font-family:'Times New Roman'; font-size:11pt"> - San Antonio, TX</span></p><p style="margin:0pt 25.8pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">June 2011 - Present</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Awarded the employee of the month for…</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Generates positive results by focusing on customer service and employee development</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Reduced the … cost by … % and increased customer satisfaction by … %</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Prepares daily and weekly sales projections utilizing Microsoft Excel</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">&nbsp;</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt; font-weight:bold">Assistant Manager - Starbucks Coffee</span><span style="font-family:'Times New Roman'; font-size:11pt"> - San Antonio, TX</span></p><p style="margin:0pt 25.8pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">June 2009 - May 2010</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Supervised and trained 4-6 new employees in the … Department</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Increased sales by … % on a quarterly basis</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Coordinated with … Managers to introduce new products and increase sales</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:8pt">&nbsp;</span></p><table cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin-left:0pt; width:509.4pt"><tbody><tr><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:369.9pt"><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><br><br><span style="font-family:'Times New Roman'; font-size:12pt; font-weight:bold">ACTIVITIES AND HONORS</span><span style="font-family:'Times New Roman'; font-size:11pt"></span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Business Student Council, President, UTSA</span></p></td><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:139.5pt"><p style="margin:1pt 0pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">2012 - 2013</span></p></td></tr><tr><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:369.9pt"><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">McDermott Scholarship</span></p></td><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:139.5pt"><p style="margin:1pt 0pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">2011 - 2012</span></p></td></tr><tr><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:369.9pt"><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Dean’s List, UTSA</span></p></td><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:139.5pt"><p style="margin:1pt 0pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">2010 - 2012</span></p></td></tr><tr><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:369.9pt"><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">American Heart Association 5k Run, Volunteer Coordinator</span></p></td><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:139.5pt"><p style="margin:1pt 0pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">2011 - 2012</span></p></td></tr><tr><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:369.9pt"><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Habitat for Humanity, Volunteer</span></p></td><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:139.5pt"><p style="margin:1pt 0pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">2010 - 2012</span></p></td></tr></tbody></table><p style="margin:0pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">&nbsp;</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:1pt">&nbsp;</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><br><br><span style="font-family:'Times New Roman'; font-size:12pt; font-weight:bold">ADDITIONAL SKILLS </span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Fluent in Spanish; conversational in French</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Microsoft Office - Word, Excel, PowerPoint, Access</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Familiar with C++ and Java</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">SSN: 122-32-2231 CPR and First Aid Certification, valid through August 2014</span></p></div>
				</div>
				<% end %>
			</div>
		</div>

		<div style="clear:both;"></div>
		
		<div id="annotationmessgebar" style="position:fixed; right:0px; top:200px;background-color:#DDD;font-size:12px;color:#888;border:1px solid #888; border-right:0px;padding:10px; border-top-left-radius:10px;border-bottom-left-radius:10px;display:none;">
			leave a note for this annotation
			<br>
			<textarea>
			</textarea>
			<br>
			<input type="button" value="save"/>
		</div>
	</div>
</center>

<div id="collaborators" style="position:absolute;right:-1000px;max-width:400px;display:none;"></div>

<div style="clear:both;"></div>

	
<script type="text/javascript">

	// variable to capture what a user has highlighted in their resume
	var highlightedText = null;
	
	function findSensitiveData(){
		var HTML = $('#htmlresume').html();
		findName(HTML);
		findAddress(HTML);
		findPhoneNumbers(HTML);
		findEmails(HTML);
		findSSN(HTML);

	}
	
	function findPhoneNumbers(HTML){
		var re = /\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})/g; //;new RegExp("\d{3}");
		var matches = HTML.match(re);
		for(var i=0; i < matches.length; i++){
			addWarningBubble(matches[i], "Phone");
		}
	}
	function findEmails(HTML){
		var re = /([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+/g;
		var matches = HTML.match(re);
		for(var i=0; i < matches.length; i++){
			addWarningBubble(matches[i], "Email");
		}
	}
	function findName(HTML){
		var re = /<%=(@resume_doc)?@resume_doc.owner_name : "Adam Parker"%>/ig;
		var matches = HTML.match(re);
		if(matches != null){
			for(var i=0; i < matches.length; i++){
				addWarningBubble(matches[i],"Name");
			}
		}
	}
	function findAddress(HTML){
	}
	function findSSN(HTML){
		var re = /[0-9]{3}-[0-9]{2}-[0-9]{4}/g;
		var matches = HTML.match(re);
		for(var i=0; i < matches.length; i++){
			addWarningBubble(matches[i],"SSN");
		}
	}
	function addWarningBubble(message, type){
		$("#warnings").show(100);
		$("#warningsLabel").show(100);
		var newWarning = $("<div>");
		newWarning.addClass('private_data_bubble');
		newWarning.append($("<div style='float:left;padding:2px;border-right:1px solid #1E608F;'>X</div>"));
		newWarning.append($("<div style='float:left;padding-top:2px;'>&nbsp;"+message+"&nbsp;</div>"));
		newWarning.append($("<div style='clear:both;'></div>"));
		newWarning.data("matchText",message);
		newWarning.click(function(){
			blackOutText($(this).data("matchText"));
			$(this).hide(200,function(){$(this).remove();});
		});
		$("#warnings").prepend(newWarning);
		newWarning.show(1000);
	}
	
	// function to determine highlighted text and black it out
	function blackoutHighlightedText() {
		if(highlightedText)
		{
			blackOutText(highlightedText);
			highlightedText = null;
		}
	}

	// function to determine highlighted	
	function getHighlightedText() {
		var range = window.getSelection().getRangeAt(0);
		console.log(range);
		highlightedText = range.toString();
	}
	
	function clearHighlightedText() {
		highlightedText = null;
	}
	
	function blackOutText(message){
		var originalText = $('#htmlresume').html();
		var rangeStart = originalText.indexOf(message);
		var rangeLength = message.length;
		
		var blankString = "";
		for(var i = 0; i < rangeLength; i++){
			blankString += "n";
		}
		blackoutText = "<span style='background-color:#333;color:#333;text-decoration:none;'>"+blankString+"</span>";

		// have to add 6 for a <span> that shows up randomly between start and now
		var newText = originalText.substring(0,rangeStart) + blackoutText + originalText.substring(rangeStart+rangeLength, originalText.length);
		
		$('#htmlresume').html(newText);
	}
	
	function clearBlackoutDivs() {
		var priorDIVs = $('[id$=hideButton]');
		priorDIVs.each(function(){
			$(this).remove();
		});
	}
	
	function showBlackoutButton(yPosition) {
	  var xPosition = $('#htmlresume').position().left - 75;
		clearBlackoutDivs();
		var buttonDiv = $("<div id='hideButton'>");
		buttonDiv.addClass('hide_data_bubble');
		buttonDiv.css({"top":yPosition-12,"left":xPosition});
		buttonDiv.append($("<div style='float:left;padding:2px;border-right:1px solid #1E608F;'>X</div>"));
		buttonDiv.append($("<div style='float:left;padding-top:2px;padding-left:8px;padding-right:8px;'>Hide</div>"));
		buttonDiv.append($("<div style='clear:both;'></div>"));
		buttonDiv.click(function(){blackoutHighlightedText();$(this).remove();});
		$("body").append(buttonDiv);
	}

	function moveToStep1()
	{
		clearNoteBubbles();
		clearNoteCreateBubbles();
		$("#canvas_container").remove();
		$("#resumeHTML").css("position","static");
		$("#step1Label").css({"color":"black","font-weight":"bold"});
		$("#step1Image").attr("src","/images/StepDotActive.png");
		$("#step2Label").css({"color":"silver","font-weight":"none"});
		$("#step2Image").attr("src","/images/StepDotInactive.png");
		$("#step3Label").css({"color":"silver","font-weight":"none"});
		$("#step3Image").attr("src","/images/StepDotInactive.png");
		
		hideFeedbackBar();
		
		clearBlackoutDivs();
		$("#step_2_action_panel").hide(400, function(){
			$("#step_3_action_panel").hide(400, function(){			
				$("#step_1_action_panel").show(400);
			});
		});
	}
	
	function moveToStep2()
	{
		clearNoteBubbles();
		clearNoteCreateBubbles();
		$("#canvas_container").remove();
		$("#resumeHTML").css("position","static");
		$("#step1Label").css({"color":"silver","font-weight":"none"});
		$("#step1Image").attr("src","/images/StepDotInactive.png");
		$("#step2Label").css({"color":"black","font-weight":"bold"});
		$("#step2Image").attr("src","/images/StepDotActive.png");
		$("#step3Label").css({"color":"silver","font-weight":"none"});
		$("#step3Image").attr("src","/images/StepDotInactive.png");

		hideFeedbackBar();

		clearBlackoutDivs();

		$("#step_1_action_panel").hide(400, function(){
			$("#step_3_action_panel").hide(400, function(){			
				$("#step_2_action_panel").show(400);
			});
		});
	}
	
	function moveToStep3()
	{
		$("#step1Label").css({"color":"silver","font-weight":"none"});
		$("#step1Image").attr("src","/images/StepDotInactive.png");
		$("#step2Label").css({"color":"silver","font-weight":"none"});
		$("#step2Image").attr("src","/images/StepDotInactive.png");
		$("#step3Label").css({"color":"black","font-weight":"bold"});
		$("#step3Image").attr("src","/images/StepDotActive.png");
		
		showFeedbackBar();
		
		clearBlackoutDivs();
		
		$("#step_2_action_panel").hide(400, function(){
			$("#step_1_action_panel").hide(400, function(){			
				$("#step_3_action_panel").show(400);
			});
		});
		
		// add annotations
		$("#resumeHTML").css("position","relative").append($('<div id="canvas_container"></div>'));
    $('#canvas_container').mousemove(function(e) {
    	currentMousePos = new PointV2(e.pageX - $("#resumeHTML").position().left, e.pageY - $("#resumeHTML").position().top);
    });
    $('#canvas_container').mousedown(function(e) { 
   		console.log("DOWN");
   		switch(edit_mode){
   			case "note":
		    	var note_point = new PointV2(e.pageX - $("#resumeHTML").position().left, e.pageY - $("#resumeHTML").position().top);
					addNoteCreateBubble(note_point);
   			break;
   			case "annotation":
   				var curr_annotation = new Annotation();
   				if(annotations.length > 0){
   					curr_annotation = annotations[0];
   				}
		      pen_down = true;
				 	setTimeout(function(){trackMouse();}, 1);
					current_path = new DrawingPath();
					current_path.start_point = new PointV2(e.pageX - $("#resumeHTML").position().left, e.pageY - $("#resumeHTML").position().top);
				 	curr_annotation.drawings.push(current_path);
				 	annotations = new Array();
				 	annotations.push(curr_annotation);
   			break;
   		}
    });
    $('#canvas_container').mouseup(function(event) { 
   		console.log("UP");
       pen_down = false;
    });
		setupCanvas();
			current_path = new DrawingPath();
		drawAnnotations();
	}
	
	
	function saveSafeHTML(){
			$.post("/resume/ajax_set_safe_html",{id: <%=@resume_doc.id%>, html: $('#resumeHTML').html()});
	}
	
	// LETS FIND THE SENSITIVE INFORMATIOn
	findSensitiveData();

	$("#htmlresume").mouseup(function(e){
		getHighlightedText();
			if(highlightedText != null && highlightedText != ""){
				showBlackoutButton(e.pageY);
			}
		});
		

  function showConnectionsIdeal(payload) {
  	$(payload.json_data.profiles).each(function(){
  	  var profile_div = $("<div style='border:1px solid #ddd; padding:10px; background-color:#FAFAFA;'>");
  	  
  		var pic_div = $("<div>").html('<img src="'+this.pic_url+'" width="30px">').css("float","left");
  		var detail_info = $("<div>").css({"padding-left":"12px","float":"left","font-size":"12px"}).html("<b>"+this.name+"</b>");

  	  if(this.last_job_title) {
	  	  detail_info.append($("<div>").html(this.last_job_title));
	  	}
  	  profile_div.append(pic_div).append(detail_info).append($("<div style='clear:both;'>"));
  	  
  		$("#FBProfilesIdeal").append(profile_div);
  	});
  }
		
  function showConnections(payload) {
  	$(payload.json_data.profiles).each(function(){
  	  var profile_div = $("<div style='border:1px solid #ddd; padding:10px; background-color:#FAFAFA;'>");
  	  
  		var pic_div = $("<div>").html('<img src="'+this.pic_url+'" width="30px">').css("float","left");
  		var detail_info = $("<div>").css({"float":"left","font-size":"12px"}).html("<b>"+this.name+"</b>");

  	  if(this.last_job_title) {
	  	  detail_info.append($("<div>").html(this.last_job_title));
	  	}
  	  profile_div.append(pic_div).append(detail_info).append($("<div style='clear:both;'>"));
  	  
  		$("#FBProfiles").append(profile_div);
  	});
  }
  
  function linkedInComposer(){
  	window.open('http://www.linkedin.com/shareArticle?mini=true&url=http://resumecritique.herokuapp.com/resume/critique?for=SOMELONGUNIQUEIDENTIFIERHERE&title=Help Adam make their resume awesome&summary=Adam%20wants your help making their resume awesome: &source=http://resumecritique.herokuapp.com/resume/critique?for=SOMELONGUNIQUEIDENTIFIERHERE','resumeshare','width=600,height=345');
  }
  
  function gmailComposer(){
//  	var composer = $("<div style='width:100%;position:absolute;top:0px;left:0px;height:100%;'></div>");
//  	composer.html('<center><iframe src="https://mail.google.com/mail/?view=cm" style="width:1000px;height:1000px;"></iframe></center>');
//  	$("body").append(composer);
  	window.open('https://mail.google.com/mail/?view=cm&fs=1&to=someone@example.com&su=Help Adam make their resume awesome&body=Adam%20wants your help making their resume awesome: <a href="' + 'http://resumecritique.herokuapp.com/resume/critique?for=SOMELONGUNIQUEIDENTIFIERHERE' + '">click here to review</a>','resumeshare','width=600,height=345');
  }
</script>

<script type="text/javascript">

/**************************************************************/
/*  All of the logic needed for the display of the feedback bar  */
/**************************************************************/

function setFeedbackMode(switchTo){
	clearNoteBubbles();
	clearNoteCreateBubbles();
	clearAnnotations();
	switch(switchTo){
		case '1note':
			clearAnnotations();
			edit_mode = "note";
			$("#feedbacktype1").attr('class','feedback_enabled feedback_tab_left');
			$("#feedbacktype2").attr('class','feedback_disabled feedback_tab');
			$("#feedbacktype3").attr('class','feedback_disabled feedback_tab');
			$("#feedbacktype4").attr('class','feedback_disabled feedback_tab_right');
		break;
		case '2annotate':
			edit_mode = "annotation";
			
			$("#feedbacktype1").attr('class','feedback_disabled feedback_tab_left');
			$("#feedbacktype2").attr('class','feedback_enabled feedback_tab');
			$("#feedbacktype3").attr('class','feedback_disabled feedback_tab');
			$("#feedbacktype4").attr('class','feedback_disabled feedback_tab_right');
			
			var an_annotation = new Annotation();
			annotations = new Array();
			annotations.push(an_annotation);
	
		break;
		case '3skills':
			clearAnnotations();
			edit_mode = "skills";

			$("#feedbacktype1").attr('class','feedback_disabled feedback_tab_left');
			$("#feedbacktype2").attr('class','feedback_disabled feedback_tab');
			$("#feedbacktype3").attr('class','feedback_enabled feedback_tab');
			$("#feedbacktype4").attr('class','feedback_disabled feedback_tab_right');
			
		break;
		case '4endorcement':
			clearAnnotations();
			edit_mode = "endorcement";
			
			$("#feedbacktype1").attr('class','feedback_disabled feedback_tab_left');
			$("#feedbacktype2").attr('class','feedback_disabled feedback_tab');
			$("#feedbacktype3").attr('class','feedback_disabled feedback_tab');
			$("#feedbacktype4").attr('class','feedback_enabled feedback_tab_right');
			
		break;
	}
}

function showFeedbackBar(){
	$("#feedbackbar").show(200);
	$("#annotationmessgebar").show(200);
}
function hideFeedbackBar(){
	$("#feedbackbar").hide(100);
	$("#annotationmessgebar").hide(100);
}

</script>


<script type="text/javascript">

/**************************************************************/
/*  All of the logic needed for the leaving of notes  */
/**************************************************************/

function addNoteCreateBubble(point){
	var bubble_div = $("<div id='create_note'>");
	bubble_div.addClass("NoteCreateBubble");
	bubble_div.css({"top":point.y,"left":point.x})
	bubble_div.html('Leave a note:<br><textarea></textarea><input type="button" value="done">');
	$("#resumeHTML").append(bubble_div);
}

function clearNoteBubbles(){
	for(var i=0; i < note_bubbles.length; i++){
		note_bubbles[i].remove();
	}
}

function addNoteBubble(note, point){
	clearNoteBubbles();
	var bubble_div = $("<div></div>");
	bubble_div.addClass("NoteBubble");
	bubble_div.css({"top":point.y + 25,"left":point.x})
	bubble_div.html("<img src='/images/NoteBubbleWhite.png' style='position: absolute;left: -19px;top: -15px;'>" + note);
	$("#resumeHTML").append(bubble_div);
	note_bubbles.push(bubble_div);
}

  function clearNoteCreateBubbles(){
  	$("[id=create_note]").each(function(){
			this.remove();
  	});
  }

</script>

<script type="text/javascript">

/**************************************************************/
/*  All of the logic needed for the annotation and rendering  */
/**************************************************************/


  function setupCanvas(){
  	paper = new Raphael(document.getElementById('canvas_container'),$('#resumeHTML').width(),$('#resumeHTML').height());
  }

  function clearAnnotations(){
		clearAnnotationNotes();
  	paper.clear();
  	$("#canvas_container").html('');
  	setupCanvas();
  }
  
  function drawAnnotations(){
  	if(paper != null && current_path != null) {
			for(var i = 0; i < annotations.length; i++){
				var annotation = annotations[i];
				for(var j=0; j < annotation.drawings.length; j++){
					var a_path = annotation.drawings[j];
		  		var lines = paper.path(a_path.to_path_string());
			  	lines.attr({stroke: a_path.line_color, 'stroke-width': 5, 'stroke-opacity':0.5});
			  }
		  }
	  }
  }
  
  function showAnnotationNote(note){
  	var note_div = $("<div id='annotation_note'>");
  	note_div.addClass("AnnotationNote");
  	note_div.css("left",$("#resumeHTML").position().left + ($("#resumeHTML").width()/2) - 200);
  	console.log($("#resumeHTML").position());
  	note_div.html(note);
  	$("body").append(note_div);
  }
  
  function clearAnnotationNotes(){
  	$("[id=annotation_note]").each(function(){
			this.remove();
  	});
  }

  function trackMouse(){
  	if(pen_down)
  	{	
  		// add the current mouse point to the drawingPath
//	  	current_path.append_point_to_path(currentMousePos);
	  	annotations[annotations.length-1].add_point_to_last_drawing(currentMousePos);
	  	
  		// clear the canvas for redraw
  		clearAnnotations();
  		// redraw now that our path is updated
  		drawAnnotations();
  		
  		// repeat the cycle
  		setTimeout(function(){trackMouse();}, 30);
  	}
  }
	
function PointV2 (x,y) {
    this.x = x;
    this.y = y;
}


function DrawingPath()
{
	this.line_color = "#FF0000";
	this.start_point = null;
	this.last_point = null;
	this.path_elements = new Array();
	this.to_path_string = function(){
		var path = "M " + this.start_point.x + " " + this.start_point.y;
		for(var i = 0; i < this.path_elements.length; i++) {
			var a_move = this.path_elements[i];
			path += " l " + a_move.x + " " + a_move.y;
		}
		return path;
	},
	this.to_json_string = function(){
		var path_elements_str = "[";
		for(var i=0; i < this.path_elements.length; i++){
			if(path_elements_str == "["){
				path_elements_str += '{"x":'+this.path_elements[i].x+',"y":'+this.path_elements[i].y+'}';
			}else{
				path_elements_str += ',{"x":'+this.path_elements[i].x+',"y":'+this.path_elements[i].y+'}';
			}	
		}
		path_elements_str += "]";
		var ret_str = '{"line_color":"'+this.line_color+'","start_point":{"x":'+this.start_point.x+',"y":'+this.start_point.y+'},"path_elements":'+path_elements_str+'}';
		return ret_str;
	},
	this.append_point_to_path = function(a_point){
		if(this.last_point == null)
		{
				this.last_point = a_point;
				var delta_point = new PointV2(null, null);
				delta_point.x = this.start_point.x - a_point.x;
				delta_point.y = this.start_point.y - a_point.y;
				this.path_elements.push(delta_point);
		}else{
			if(this.last_point.x != a_point.x || this.last_point.y != a_point.y)
			{
				var delta_point = new PointV2(null, null);
				delta_point.x = a_point.x - this.last_point.x;
				delta_point.y = a_point.y - this.last_point.y;
				this.path_elements.push(delta_point);
				this.last_point = a_point;
			}
		}
	}
	this.initWithJSON = function(json){
		this.line_color = json.line_color;
		this.start_point = json.start_point;
		for(var i = 0; i < json.path_elements.length; i ++){
			var delta_point = new PointV2(json.path_elements[i].x,json.path_elements[i].y);
			this.path_elements.push(delta_point);
		}
	}
}

function Annotation() {
	this.note = "";
	this.drawings = new Array();
	this.add_point_to_last_drawing = function(a_point){
		this.drawings[this.drawings.length - 1].append_point_to_path(a_point);
	}
	this.initWithJSON = function(json){
		this.note = json.note;
		for(var i = 0; i < json.paths.length; i++){
			var a_path = new DrawingPath();
			a_path.initWithJSON(json.paths[i]);
			this.drawings.push(a_path);
		}
		console.log(this);
	}
	this.to_json_string = function(){
		var drawing_strings = "[";
		for(var i=0; i < this.drawings.length; i++){
			if(drawing_strings == "["){
				drawing_strings += this.drawings[i].to_json_string();
			}else{
				drawing_strings += ","+this.drawings[i].to_json_string();
			}	
		}
		drawing_strings += "]";
		var ret_str = '{"note":"'+this.note+'","paths":'+drawing_strings+'}';
		console.log(ret_str);
		return ret_str;
	}
}

  
  // GLOBAL PROPERTIES AND INITIALIZATIONS
  var paper = null;
  var currentMousePos = new PointV2(null, null);
  var canvasOffset = new PointV2(null, null);  
  var pen_down = false;
  var current_path = null;
  var annotations = new Array();
  var edit_mode = "note";
  var note_bubbles = new Array();
  
</script>


	<script src="http://sui.careerbuilder.com/javascript/social-ui-data.js" type="text/javascript" data-sui_type="SUIDataLib">
		{"run_mode":"PROD"}
	</script>

	<script src="http://sui.careerbuilder.com/javascript/social-ui.js" type="text/javascript" data-sui_type="SUILib">
		{"run_mode":"PROD","auto_login":"<%="#{request.protocol}#{request.host_with_port}"%>/same_origin_hook"}
	</script> 
	
	<script>
		// assume we are already logged in
		FB.init({appId: '<%= SITE_CONFIG["fb_app_id"] %>', xfbml: true, cookie: true});


		function sendFBInvitation() {		
      FB.ui({
          method: 'send',
          name: 'Facebook Dialogs',
          link: 'http://resumecritique.herokuapp.com/resume/critique',
          name: 'Adam wants you to review his resume.',
          description: "Adam would love it if you could review and critique his resume.  It's fast, simple and could help Adam land that next dream job!"
          });
  	}
	 </script>
	 
	 

<script type="text/javascript">

/**************************************************************/
/*  All of the logic needed for the showing feedback  */
/**************************************************************/

function showFeedback(sender) {
	switch($(sender).data('feedback_type')){
		case "note":
			clearAnnotations();
			var json = $(sender).data('payload');
			var location_point = new PointV2(json.position.x, json.position.y);
			addNoteBubble(json.note, location_point);
		break;
		case "annotation":
			clearNoteBubbles();
			clearNoteCreateBubbles();
			clearAnnotations();
			var an_annotation = new Annotation();
			an_annotation.initWithJSON($(sender).data('payload'));
			annotations = new Array();
			annotations.push(an_annotation);
			drawAnnotations();
			showAnnotationNote(an_annotation.note);
		break;		
	}
}

</script>