<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="/javascript/raphael-min.js" type="text/javascript" charset="utf-8"></script>

<div id="fb-root"></div>

<center>
	<div id="main_body_column">
		<div id="header_bar">
			<img src="/images/headerlogo.png" style="margin-top:4px;margin-left:12px;">
		</div>
		<div style="padding:15px;">
			&nbsp;
		</div>


		<div style="float:left;width:330px;border-left:7px solid #506bb1;margin-left:-2px;position:relative;">
			<img src="/images/SectionBarTopCap.gif" style="position:absolute;top:0px;left:-6px;">
			<img src="/images/SectionBarBottomCap.gif" style="position:absolute;bottom:0px;left:-6px;">
					
			
			<div style="margin-left:10px;">
				<% if @poster_name.blank? %>
				<div class="step_header">Tell us your name</div>
				<div class="step_description">Please tell us your name so we can tell <%=@resume_doc.owner_name.split(' ').first%> who the feedback is from.</div>
				<input type="text" id="poster_name" name="poster_name" placeholder="your name"><input type="button" onclick="alert('ss');" value="save" style="color:white;">
				<% else %>
				<div class="step_header">Welcome back</div>
				<div class="step_description"><%=@poster_name%>, you can modify and add feedback for <%=@resume_doc.owner_name%></div>
				<input type="text" id="poster_name" name="poster_name" placeholder="your name">
				<% end %>


				<div class="step_header" style="margin-top:20px">Your Feedback</div>
				
				<div class="ReviewerFeedback">
					<% @feedback.each do |feedback| %>
					<div class="Person" id="my_feedback">
						<% feedback[1].each do |f| %>
						<div class="Item Active" id="<%=f.id%>" data-person_id="<%=f.bid%>" data-feedback_type="<%=f.feedback_type%>" onclick="showFeedback(this);" data-payload='<%=f.json_data%>'>
							<div style="float:left;"><img src="/images/<%=(f.feedback_type == 'note')? "Note" : "Draw"%>Icon.png"></div>
							<div style="float:left;padding-left:10px;width:80%;"><%=f.note%></div>
							<div style="clear:both;"></div>
						</div>
						<div class="clear"></div>
						<% end %>
					</div>
					<% end %>
				</div>


				<div style="margin-top:20px">
					<div class="step_header" style="margin-top:20px;">Suggest Keywords to Add</div>
					<div class="step_description">The following keywords are what you've suggested that <%=@resume_doc.owner_name.split(' ').first%> add.  These keywords will help employers and recruiters find this resume more easily and help identify relevant skills.</div>
					<input type="text" id="new_keyword" name="new_keyword" placeholder="new keyword suggestion" style="width:200px;padding:10px;" onKeyPress="addKeywordSuggestionBubble(event);">
						<div id="keywords">
							<div class="keyword_suggestion" style="display: block;">
								<div style="float:left;padding:2px;border-right:1px solid #1E608F;" onclick="$(this).parent().remove();">X</div>
								<div style="float:left;padding-top:2px;">&nbsp;programmer&nbsp;</div>
								<div style="clear:both;"></div>
							</div>
							<div class="keyword_suggestion" style="display: block;">
								<div style="float:left;padding:2px;border-right:1px solid #1E608F;" onclick="$(this).parent().remove();">X</div>
								<div style="float:left;padding-top:2px;">&nbsp;Objective-C&nbsp;</div>
								<div style="clear:both;"></div>
							</div>
						</div>
					</div>
				</div>

			
		</div>
		
		
		<div style="width:70%;float:left; max-width:700px;">
			<div id="feedbackbar" style="float:right;padding-right:30px;">
				<div id="feedbacktype1" class="feedback_enabled feedback_tab_left" onclick="setFeedbackMode('1note');">Leave Note</div>
				<div id="feedbacktype2" class="feedback_disabled feedback_tab" onclick="setFeedbackMode('2annotate');">Draw</div>
				<div id="feedbacktype3" class="feedback_disabled feedback_tab" onclick="setFeedbackMode('3skills');">Suggest Skills</div>
				<div id="feedbacktype4" class="feedback_disabled feedback_tab_right" onclick="setFeedbackMode('4endorcement');">Endorse <%=@resume_doc.owner_name.split(' ').first%></div>
				<div class="clear"></div>
			</div>
			<div style="clear:both;"></div>
			<div id="resumeHTML" style="max-width:650px;border:1px solid #CCC;margin:10px;padding:10px;margin-top:0px;">
				<% if @resume_doc %>
				<%=raw(@resume_doc.safe_resume_html)%>
				<% else %>
				<div id="htmlresume">
						<div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt; text-align:center">
						<span style="font-family:'Times New Roman'; font-size:16pt; font-weight:bold">ADAM PARKER [DEMO]</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt; text-align:center"><span style="font-family:'Times New Roman'; font-size:12pt"> 5550 Peachtree Pkwy, Norcross, GA, 30092</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt; text-align:center"><span style="font-family:'Times New Roman'; font-size:12pt"><span id="gc-number-0" class="gc-cs-link" title="Call with Google Voice">123-456-7890</span>    adam.parker.test@careerbuilder.com</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:9pt">&nbsp;</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><br><br><span style="font-family:'Times New Roman'; font-size:12pt; font-weight:bold">CAREER OBJECTIVE</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">Seeking an entry-level position in the field of Computer Science</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:8pt">&nbsp;</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><br><br><span style="font-family:'Times New Roman'; font-size:12pt; font-weight:bold">SUMMARY OF QUALIFICATIONS  </span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Developed extensive proficiency in sales, customer service and training</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:8pt">&nbsp;</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><br><br><span style="font-family:'Times New Roman'; font-size:12pt; font-weight:bold">EDUCATION</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">The Georgia Institute of Technology</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 18pt"><span style="font-family:'Times New Roman'; font-size:11pt; font-weight:bold">Bachelor of Business Administration in Computer Science </span></p><p style="margin:0pt 0pt 0pt 18pt"><span style="font-family:'Times New Roman'; font-size:9pt; font-style:italic">&nbsp;</span></p><p style="margin:0pt 4.5pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:9pt; font-style:italic"></span><span style="font-family:'Times New Roman'; font-size:11pt">Expected Graduation: December 2004</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">Cumulative GPA: 3.39                            Major GPA: 3.88 </span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:8pt; color:#ff0000">&nbsp;</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt; text-decoration:underline">Relevant Coursework</span><span style="font-family:'Times New Roman'; font-size:11pt"></span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Organization Theory</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Management Science</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Managing Human Relations</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Principles of Marketing</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:8pt">&nbsp;</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">Immersion program (or Study Abroad) - Kyoto University of Foreign Studies, Japan</span></p><p style="margin:0pt 27.9pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">Summer 2012</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:8pt">&nbsp;</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt; font-weight:bold">Alamo Community College</span><span style="font-family:'Times New Roman'; font-size:11pt">, San Antonio, Texas</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">Associate Degree in Business, May 2009</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:12pt; font-weight:bold">&nbsp;</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><br><br><span style="font-family:'Times New Roman'; font-size:12pt; font-weight:bold">EXPERIENCE</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt; font-weight:bold">Management Trainee Intern - Enterprise Rent A Car</span><span style="font-family:'Times New Roman'; font-size:11pt"> - San Antonio, TX</span></p><p style="margin:0pt 25.8pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">June 2011 - Present</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Awarded the employee of the month for…</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Generates positive results by focusing on customer service and employee development</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Reduced the … cost by … % and increased customer satisfaction by … %</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Prepares daily and weekly sales projections utilizing Microsoft Excel</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">&nbsp;</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt; font-weight:bold">Assistant Manager - Starbucks Coffee</span><span style="font-family:'Times New Roman'; font-size:11pt"> - San Antonio, TX</span></p><p style="margin:0pt 25.8pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">June 2009 - May 2010</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Supervised and trained 4-6 new employees in the … Department</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Increased sales by … % on a quarterly basis</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Coordinated with … Managers to introduce new products and increase sales</span></p><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:8pt">&nbsp;</span></p><table cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin-left:0pt; width:509.4pt"><tbody><tr><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:369.9pt"><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><br><br><span style="font-family:'Times New Roman'; font-size:12pt; font-weight:bold">ACTIVITIES AND HONORS</span><span style="font-family:'Times New Roman'; font-size:11pt"></span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Business Student Council, President, UTSA</span></p></td><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:139.5pt"><p style="margin:1pt 0pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">2012 - 2013</span></p></td></tr><tr><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:369.9pt"><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">McDermott Scholarship</span></p></td><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:139.5pt"><p style="margin:1pt 0pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">2011 - 2012</span></p></td></tr><tr><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:369.9pt"><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Dean’s List, UTSA</span></p></td><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:139.5pt"><p style="margin:1pt 0pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">2010 - 2012</span></p></td></tr><tr><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:369.9pt"><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">American Heart Association 5k Run, Volunteer Coordinator</span></p></td><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:139.5pt"><p style="margin:1pt 0pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">2011 - 2012</span></p></td></tr><tr><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:369.9pt"><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Habitat for Humanity, Volunteer</span></p></td><td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:139.5pt"><p style="margin:1pt 0pt 0pt 9pt; text-indent:9pt; text-align:right"><span style="font-family:'Times New Roman'; font-size:11pt">2010 - 2012</span></p></td></tr></tbody></table><p style="margin:0pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">&nbsp;</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:1pt">&nbsp;</span></p></div><p style="margin: 0pt"><br style="page-break-before:auto; clear:both; "></p><div><p style="margin:0pt 0pt 0pt 9pt; text-indent:9pt"><br><br><span style="font-family:'Times New Roman'; font-size:12pt; font-weight:bold">ADDITIONAL SKILLS </span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Fluent in Spanish; conversational in French</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Microsoft Office - Word, Excel, PowerPoint, Access</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">Familiar with C++ and Java</span></p><p style="margin:0pt 0pt 0pt 36pt; text-indent:9pt"><span style="font-family:'Times New Roman'; font-size:11pt">•</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-family:'Times New Roman'; font-size:11pt">SSN: 122-32-2231 CPR and First Aid Certification, valid through August 2014</span></p></div>
				</div>
				<% end %>
			</div>
		</div>

		<div style="clear:both;"></div>
		
		<div id="annotationmessgebar" style="display:none;position:fixed; right:0px; top:200px;background-color:#e0e8f7;font-size:12px;color:#888;border:3px solid #c0cade; border-right:0px;padding:10px; border-top-left-radius:10px;border-bottom-left-radius:10px;">
			leave a note for this annotation (optional)
			<br>
			<textarea id="note_text" cols="35" rows="4" style="border:0px;"></textarea>
			<br>
			<input type="button" style="background-color:#dd671d;color:white;border:0px;border-radius:5px;" value="save annotation" onclick="ajaxSaveAnnotation(this);"/>
		</div>
	</div>
</center>

<div id="collaborators" style="position:absolute;right:-1000px;max-width:400px;display:none;"></div>

<div style="clear:both;"></div>

	
<script type="text/javascript">

	// variable to capture what a user has highlighted in their resume
	var highlightedText = null;
	

	function addKeywordSuggestionBubble(e){
		if(e.keyCode == 13){
			message = $("#new_keyword").val();
			var suggestion = $("<div>");
			suggestion.addClass('keyword_suggestion');
			suggestion.append($("<div style='float:left;padding:2px;border-right:1px solid #1E608F;'>X</div>"));
			suggestion.append($("<div style='float:left;padding-top:2px;'>&nbsp;"+message+"&nbsp;</div>"));
			suggestion.append($("<div style='clear:both;'></div>"));
			suggestion.data("matchText",message);
			suggestion.click(function(){
				$(this).hide(200,function(){$(this).remove();});
			});
			$("#keywords").append(suggestion);
			suggestion.show(200);
			message = $("#new_keyword").val('');
		}
	}
	
	
		
</script>

<script type="text/javascript">

/**************************************************************/
/*  All of the logic needed for the display of the feedback bar  */
/**************************************************************/

function setFeedbackMode(switchTo){
	clearNoteBubbles();
	clearNoteCreateBubbles();
	clearAnnotations();
	switch(switchTo){
		case '1note':
			clearAnnotations();
			edit_mode = "note";
			$("#feedbacktype1").attr('class','feedback_enabled feedback_tab_left');
			$("#feedbacktype2").attr('class','feedback_disabled feedback_tab');
			$("#feedbacktype3").attr('class','feedback_disabled feedback_tab');
			$("#feedbacktype4").attr('class','feedback_disabled feedback_tab_right');
			$("#annotationmessgebar").hide(100);
		break;
		case '2annotate':
			edit_mode = "annotation";
			
			$("#feedbacktype1").attr('class','feedback_disabled feedback_tab_left');
			$("#feedbacktype2").attr('class','feedback_enabled feedback_tab');
			$("#feedbacktype3").attr('class','feedback_disabled feedback_tab');
			$("#feedbacktype4").attr('class','feedback_disabled feedback_tab_right');
			
			var an_annotation = new Annotation();
			annotations = new Array();
			annotations.push(an_annotation);
	
		break;
		case '3skills':
			clearAnnotations();
			edit_mode = "skills";
			$("#annotationmessgebar").hide(100);
			$("#feedbacktype1").attr('class','feedback_disabled feedback_tab_left');
			$("#feedbacktype2").attr('class','feedback_disabled feedback_tab');
			$("#feedbacktype3").attr('class','feedback_enabled feedback_tab');
			$("#feedbacktype4").attr('class','feedback_disabled feedback_tab_right');
			
		break;
		case '4endorcement':
			clearAnnotations();
			edit_mode = "endorcement";
			$("#annotationmessgebar").hide(100);
			$("#feedbacktype1").attr('class','feedback_disabled feedback_tab_left');
			$("#feedbacktype2").attr('class','feedback_disabled feedback_tab');
			$("#feedbacktype3").attr('class','feedback_disabled feedback_tab');
			$("#feedbacktype4").attr('class','feedback_enabled feedback_tab_right');
			
		break;
	}
}

	function setupPageForEdit(){
		// add annotations
		$("#resumeHTML").css("position","relative").append($('<div id="canvas_container"></div>'));
    $('#canvas_container').mousemove(function(e) {
    	currentMousePos = new PointV2(e.pageX - $("#resumeHTML").position().left, e.pageY - $("#resumeHTML").position().top);
    });
    $('#canvas_container').mousedown(function(e) { 
   		console.log("DOWN");
   		switch(edit_mode){
   			case "note":
		    	var note_point = new PointV2(e.pageX - $("#resumeHTML").position().left, e.pageY - $("#resumeHTML").position().top);
					addNoteCreateBubble(note_point);
   			break;
   			case "annotation":
   				var curr_annotation = new Annotation();
   				if(annotations.length > 0){
   					curr_annotation = annotations[0];
   				}
		      pen_down = true;
				 	setTimeout(function(){trackMouse();}, 1);
					current_path = new DrawingPath();
					current_path.start_point = new PointV2(e.pageX - $("#resumeHTML").position().left, e.pageY - $("#resumeHTML").position().top);
				 	curr_annotation.drawings.push(current_path);
				 	annotations = new Array();
				 	annotations.push(curr_annotation);
   			break;
   		}
    });
    $('#canvas_container').mouseup(function(event) { 
   		console.log("UP");
       pen_down = false;
       if(edit_mode == "annotation"){
				$("#annotationmessgebar").show(100);
			 }
    });
		setupCanvas();
			current_path = new DrawingPath();
		drawAnnotations();
	}

</script>


<script type="text/javascript">

/**************************************************************/
/*  All of the logic needed for the leaving of notes  */
/**************************************************************/

function addNoteCreateBubble(point){
  clearNoteCreateBubbles();
  clearNoteBubbles();
	clearAnnotations();
	var bubble_div = $("<div id='create_note'>");
	bubble_div.addClass("NoteCreateBubble");
	bubble_div.css({"top":point.y,"left":point.x,"background-color":"#e0e8f7","border":"3px solid #c0cade"})
	bubble_div.html('Leave a note:<br><textarea cols="35" rows="4" id="note_text" style="border:0px;"></textarea><br><input type="button" style="background-color:#dd671d;color:white;border:0px;border-radius:5px;" value="done" data-point=\'{"x":'+point.x+',"y":'+point.y+'}\' onclick="ajaxSaveNote(this);">');
	$("#resumeHTML").append(bubble_div);
	setTimeout(function(){$("#note_text").focus();},50);
}

function clearNoteBubbles(){
	for(var i=0; i < note_bubbles.length; i++){
		note_bubbles[i].remove();
	}
}

function addNoteBubble(note, point){
	clearNoteBubbles();
	var bubble_div = $("<div></div>");
	bubble_div.addClass("NoteBubble");
	bubble_div.css({"top":point.y + 25,"left":point.x})
	bubble_div.html("<img src='/images/NoteIcon.png' style='position: absolute;left: -19px;top: -15px;'>" + note);
	$("#resumeHTML").append(bubble_div);
	note_bubbles.push(bubble_div);
}

  function clearNoteCreateBubbles(){
  	$("[id^=create_note]").each(function(){
			this.remove();
  	});
  }
  
function addNoteToList(note, json_string){
	var new_annotation = $("<div>");
	new_annotation.attr('class','Item Active');
	new_annotation.data('feedback_type','note');
	new_annotation.data('payload',JSON.parse(json_string));
	new_annotation.click(function(){showFeedback(this);});
	new_annotation.append($('<div style="float:left;"><img src="/images/NoteIcon.png"></div>'));
	new_annotation.append($('<div style="float:left;padding-left:10px;width:80%;">'+note+'</div>'));
	new_annotation.append($('<div style="clear:both;"></div>'));
						
	var clear_div = $("<div class='clear'></div>");
	$("#my_feedback").append(new_annotation).append(clear_div);
}
  
  function ajaxSaveNote(sender){
  	
  	var note = $(sender).parents("#create_note").children("#note_text").val();
  	var name = $('#poster_name').val();
  	if(name == null || name == ""){
  		name = "anoymous";
  	}
  	if(note == null || note == ""){
  		alert('please enter a note before saving');
  	}else{
		  var json_payload = '{"note": "'+note+'","position":{"x":' + $(sender).data('point').x + ',"y":'+$(sender).data('point').y+'}}';
			$.post("/resume/ajax_add_note",{private_guid: '<%=@resume_doc.private_guid%>', json_data: json_payload, note: note, bid: '<%=@bid%>', poster_name: name});
  		clearNoteCreateBubbles();
  		addNoteToList(note, json_payload);
  	}
  }

</script>

<script type="text/javascript">

/**************************************************************/
/*  All of the logic needed for the annotation and rendering  */
/**************************************************************/


  function setupCanvas(){
  	paper = new Raphael(document.getElementById('canvas_container'),$('#resumeHTML').width(),$('#resumeHTML').height());
  }

  function clearAnnotations(){
		clearAnnotationNotes();
  	paper.clear();
  	$("#canvas_container").html('');
  	setupCanvas();
  }
  
  function drawAnnotations(){
  	if(paper != null && current_path != null) {
			for(var i = 0; i < annotations.length; i++){
				var annotation = annotations[i];
				for(var j=0; j < annotation.drawings.length; j++){
					var a_path = annotation.drawings[j];
		  		var lines = paper.path(a_path.to_path_string());
			  	lines.attr({stroke: a_path.line_color, 'stroke-width': 5, 'stroke-opacity':0.5});
			  }
		  }
	  }
  }
  
  function showAnnotationNote(note){
  	var note_div = $("<div id='annotation_note'>");
  	note_div.addClass("AnnotationNote");
  	note_div.css("left",$("#resumeHTML").position().left + ($("#resumeHTML").width()/2) - 200);
  	console.log($("#resumeHTML").position());
  	note_div.html(note);
  	$("body").append(note_div);
  }
  
  function clearAnnotationNotes(){
  	$("[id=annotation_note]").each(function(){
			this.remove();
  	});
  }

  function trackMouse(){
  	if(pen_down)
  	{	
  		// add the current mouse point to the drawingPath
//	  	current_path.append_point_to_path(currentMousePos);
	  	annotations[annotations.length-1].add_point_to_last_drawing(currentMousePos);
	  	
  		// clear the canvas for redraw
  		clearAnnotations();
  		// redraw now that our path is updated
  		drawAnnotations();
  		
  		// repeat the cycle
  		setTimeout(function(){trackMouse();}, 30);
  	}
  }
	
function PointV2 (x,y) {
    this.x = x;
    this.y = y;
}


function DrawingPath()
{
	this.line_color = "#FF0000";
	this.start_point = null;
	this.last_point = null;
	this.path_elements = new Array();
	this.to_path_string = function(){
		var path = "M " + this.start_point.x + " " + this.start_point.y;
		for(var i = 0; i < this.path_elements.length; i++) {
			var a_move = this.path_elements[i];
			path += " l " + a_move.x + " " + a_move.y;
		}
		return path;
	},
	this.to_json_string = function(){
		var path_elements_str = "[";
		for(var i=0; i < this.path_elements.length; i++){
			if(path_elements_str == "["){
				path_elements_str += '{"x":'+this.path_elements[i].x+',"y":'+this.path_elements[i].y+'}';
			}else{
				path_elements_str += ',{"x":'+this.path_elements[i].x+',"y":'+this.path_elements[i].y+'}';
			}	
		}
		path_elements_str += "]";
		var ret_str = '{"line_color":"'+this.line_color+'","start_point":{"x":'+this.start_point.x+',"y":'+this.start_point.y+'},"path_elements":'+path_elements_str+'}';
		return ret_str;
	},
	this.append_point_to_path = function(a_point){
		if(this.last_point == null)
		{
				this.last_point = a_point;
				var delta_point = new PointV2(null, null);
				delta_point.x = this.start_point.x - a_point.x;
				delta_point.y = this.start_point.y - a_point.y;
				this.path_elements.push(delta_point);
		}else{
			if(this.last_point.x != a_point.x || this.last_point.y != a_point.y)
			{
				var delta_point = new PointV2(null, null);
				delta_point.x = a_point.x - this.last_point.x;
				delta_point.y = a_point.y - this.last_point.y;
				this.path_elements.push(delta_point);
				this.last_point = a_point;
			}
		}
	}
	this.initWithJSON = function(json){
		this.line_color = json.line_color;
		this.start_point = json.start_point;
		for(var i = 0; i < json.path_elements.length; i ++){
			var delta_point = new PointV2(json.path_elements[i].x,json.path_elements[i].y);
			this.path_elements.push(delta_point);
		}
	}
}

function Annotation() {
	this.note = "";
	this.drawings = new Array();
	this.add_point_to_last_drawing = function(a_point){
		this.drawings[this.drawings.length - 1].append_point_to_path(a_point);
	}
	this.initWithJSON = function(json){
		this.note = json.note;
		for(var i = 0; i < json.paths.length; i++){
			var a_path = new DrawingPath();
			a_path.initWithJSON(json.paths[i]);
			this.drawings.push(a_path);
		}
		console.log(this);
	}
	this.to_json_string = function(){
		var drawing_strings = "[";
		for(var i=0; i < this.drawings.length; i++){
			if(drawing_strings == "["){
				drawing_strings += this.drawings[i].to_json_string();
			}else{
				drawing_strings += ","+this.drawings[i].to_json_string();
			}	
		}
		drawing_strings += "]";
		var ret_str = '{"note":"'+this.note+'","paths":'+drawing_strings+'}';
		console.log(ret_str);
		return ret_str;
	}
}

function addAnnotationToList(annotation){
	var new_annotation = $("<div>");
	new_annotation.attr('class','Item Active');
	new_annotation.data('feedback_type','annotation');
	new_annotation.data('payload',annotation);
	new_annotation.click(function(){showFeedback(this);});
	new_annotation.append($('<div style="float:left;"><img src="/images/DrawIcon.png"></div>'));
	new_annotation.append($('<div style="float:left;padding-left:10px;width:80%;">'+annotation.note+'</div>'));
	new_annotation.append($('<div style="clear:both;"></div>'));
						
	var clear_div = $("<div class='clear'></div>");
	$("#my_feedback").append(new_annotation).append(clear_div);
}


  function ajaxSaveAnnotation(sender){
  	var note = $(sender).parents("#annotationmessgebar").children("#note_text").val();
  	if(note == null || note == ""){
  		note = "- no note -";
  	}
  	var name = $('#poster_name').val();
  	if(name == null || name == ""){
  		name = "anoymous";
  	}
		
		var the_annotation = annotations[0];
		the_annotation.note = note;
		var json_payload = the_annotation.to_json_string();
		$.post("/resume/ajax_add_annotation",{private_guid: '<%=@resume_doc.private_guid%>', json_data: json_payload, note: note, bid: '<%=@bid%>', poster_name: name});
		clearAnnotations();
		annotations[0] = new Annotation();
		$("#note_text").val('');
		$("#annotationmessgebar").hide(100);
		addAnnotationToList(the_annotation);
  }

  
  // GLOBAL PROPERTIES AND INITIALIZATIONS
  var paper = null;
  var currentMousePos = new PointV2(null, null);
  var canvasOffset = new PointV2(null, null);  
  var pen_down = false;
  var current_path = null;
  var annotations = new Array();
  var edit_mode = "note";
  var note_bubbles = new Array();
  
	setupPageForEdit();
  
</script> 
	 
	
<script type="text/javascript">

/**************************************************************/
/*  All of the logic needed for the showing feedback  */
/**************************************************************/

function showFeedback(sender) {
	switch($(sender).data('feedback_type')){
		case "note":
			clearAnnotations();
			var json = $(sender).data('payload');
			console.log(json);
			var location_point = new PointV2(json.position.x, json.position.y);
			addNoteBubble(json.note, location_point);
		break;
		case "annotation":
			clearNoteBubbles();
			clearNoteCreateBubbles();
			clearAnnotations();
			var an_annotation = new Annotation();
			an_annotation.initWithJSON($(sender).data('payload'));
			annotations = new Array();
			annotations.push(an_annotation);
			drawAnnotations();
			showAnnotationNote(an_annotation.note);
		break;		
	}
}

</script>